---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    entry: CollectionEntry<"projects" | "research">;
    class?: string;
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<div class={Astro.props.class} id={entry.id.slice(0, -3)}>
    <div class="mb-2 flex flex-row">
        <h2 class="text-lg font-semibold text-off-black hover:text-link">
            {
                entry.data.link ? (
                    <a href={entry.data.link}>{entry.data.title}</a>
                ) : (
                    entry.data.title
                )
            }
        </h2>
        {
            entry.data.link && (
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ml-1 mt-0.5 self-center"
                >
                    <>
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M9 15l6 -6" />
                        <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                        <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                    </>
                </svg>
            )
        }
    </div>
    <div class="flex flex-col-reverse overflow-auto sm:block">
        <Image
            src={entry.data.image}
            alt={entry.data.imageAlt}
            class="mx-auto mt-4 max-w-[75%] rounded-md object-contain sm:float-right sm:mb-4 sm:ml-4 sm:mt-0 sm:h-auto sm:max-w-[35%]"
        />
        <div
            class="text-off-black [&_a]:text-link hover:[&_a]:text-link-highlight [&_p:not(:last-child)]:mb-4"
        >
            <Content />
        </div>
    </div>
</div>
